/Out
/App/build
/App/node_modules
/node_modules
*.log
/App/img/Face
/build
/hxsignal
/dll
/CaptureExample/ScreenCapture/Release
/CaptureExample/ScreenCapture/Debug
/CaptureExample/CaptureExample/Debug
/CaptureExample/CaptureExample/Release
*.vcxproj.user
*.ipch
*.sdf
*.opensdf
*.suo
*.log
*.exe
*.tlog
*.obj
*.pdb
*.ilk
*.exp
*.lib